body {
    background-color: #EDF6F9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0;


}
h1#title-name{
    font-size: 40px;
    position: fixed;
    font-family: Georgia, serif;
    background-color: #83C5BE;
    margin: 0%;
    left:10%;
    padding: 0 30%;
    display: inline;
}
h2 {
    background-color: #3C6E71;
    color: #EDF6F9;
    text-align: center;
    width: 270px;
    
}
#nationality {
    font-size: 15px;
    text-align: center;
    background-color: #d9d9d9c7;
    width: 36%;
    padding: 0;
}
#nav-profile {
    position: absolute;
    top: 370px;
    left: 10px;
}
#link-profile {
    list-style: none;
    padding-left: 20px;    
}
#home {
    float: right;
    padding-right: 15px;
}
#minha-foto {
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 15%;
    position: absolute;
    width: 300px;
}
#about-header {
    position: absolute;
    left: 320px;
    top: 90px;
    width: 65%;
}
#ability {
    position: absolute;
    top: 150px;
    left: 320px;
}

a {
    color: black;
}
p {
    margin: 5px;
}
/* 
353535 
006D77
FFDDD2
E29578



*/
